.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px; 
  }
.tech-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 40px;
  }
  
  .tech-category {
    display: flex;
    flex-wrap: wrap; /* Allow icons to wrap to the next line */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 5rem;
    margin-right: 20px;
    margin-bottom: 20px; /* Add margin-bottom to create space between rows */
    transition: color 0.3s ease;
  }
  
  .icon:last-child {
    margin-right: 0;
  }
  
  .icon:hover {
    color: green;
  }
  